@import "../scss/components/type-scale";

#contenedorTotalSalarioNeto {
    // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.card {
    margin-bottom: 2rem;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
        0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
            0 4px 8px rgba(0, 0, 0, 0.06);
    }
}

header {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-image: url("../img/bg-mobile.jpg");
}

main {
    background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
    background-image: url("../img/bg-mobile-main.jpg");
}

.total-bruto-bg {
    background-image: linear-gradient(
        to right,
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%
    );
}

.modal-content {
    background-image: linear-gradient(
        135deg,
        #f5f7fa 0%,
        #c3cfe2 100%
    ) !important;
}

@media (min-width: 768px) {
    header {
        background-image: url("../img/bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    main {
        background-image: url("../img/bg-main.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
}

#quote {
    font-size: 20px;
}

.buttonQuote {
    margin-top: 20px;
    background: red;
    border: none;
    outline: none;
    text-align: center;
    width: auto;
    padding: 1rem;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1abc9c;
    color: darkslategrey;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-family: "Roboto", sans-serif;

    &:hover {
        color: white;
        background: darkslategrey;
    }
}

@import "components/footer.scss";

hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: whitesmoke;
    &::before {
        content: attr(data-content);
        display: inline-block;
        background: #fff;
        font-weight: bold;
        font-size: 0.85rem;
        color: blue;
        border-radius: 30rem;
        padding: 0.2rem 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
