.card {
    margin-bottom: 2rem;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
        0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
            0 4px 8px rgba(0, 0, 0, 0.06);
    }
}

@media (min-width: 768px) {
    header {
        background-image: url("../img/bg-header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    main {
        background-image: url("../img/bg-main.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
}

@import "components/footer.scss";
