$font-weight-bold: 700 !default;

.text-bolder{
    font-weight: $font-weight-bold;
}

#contenedorTotalSalarioNeto{
    // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.card {
    margin-bottom: 2rem;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
        0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
            0 4px 8px rgba(0, 0, 0, 0.06);
    }
}

@media (min-width: 768px) {
    header {
        background-image: url("../img/bg-header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    main {
        background-image: url("../img/bg-main.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
}

#quote {
    font-size: 20px;
}

.buttonQuote {
    margin-top: 20px;
    background: red;
    border: none;
    outline: none;
    text-align: center;
    width: auto;
    padding: 1rem;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1abc9c;
    color: #1abc9c;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-family: "Roboto", sans-serif;

    &:hover {
        color: white;
        background: #1abc9c;
    }
}

@import "components/footer.scss";
